<!-- views/partials/head.ejs -->
<meta charset="utf-8">
<title>Interactive Presentation Demo</title>
<meta name="description" content="Built off seed project for NodeJS, Socket.io, jQuery, Express">
<meta name="author" content="Nafeu Nasir">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
<link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.288/pdf.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/helpers.js"></script>