<!-- views/pages/attendee.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <h1>Attendee Page</h1>
  <script src="js/attendee.js"></script>
</body>
</html>