<!-- views/pages/attendee.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<style type="text/css">

  body {
    background-color: #222f3e;
    padding: 40px;
    color: white;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 0.5; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: white;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
      color: white;
  }

  .button {
    cursor: pointer;
  }

  .button:active {
    opacity: 0.5;
  }

  .vote-btn {
    cursor: pointer;
  }

  #question-field, #name-field {
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid white;
    background-color: #341f97;
    color: white;
    font-weight: 100;
  }

  #question-submit {
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
  }

  textarea {
    resize: none;
  }

  #section-a {
    padding: 20px;
    background-color: #5f27cd;
    border-bottom: 50px solid #341f97;
  }

  #section-b {
    padding: 20px;
    background-color: #54a0ff;
    border-bottom: 50px solid #2e86de;
  }

  #section-c {
    padding: 20px;
    background-color: #ff6b6b;
    border-bottom: 50px solid #ee5253;
  }

  #section-a, #section-b, #section-c {
    margin-bottom: 20px;
  }

  #user-voting {
    max-height: 350px;
    overflow-y: scroll;
  }

  .display-question {
    padding: 10px;
    font-size: 1em;
    margin: 10px;
    background-color: #2e86de;
    border-radius: 5px;
    font-weight: 100;
  }

  .vote-btn {
    float: left;
    padding-right: 5px;
  }

  .response-btn {
    padding: 10px;
    font-size: 2em;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

  .response-btn:hover {
    opacity: 0.5;
  }

  .response-btn:active {
    background-color: white;
    color: #FD6C6E;
  }

  .response-confirmation {
    font-size: 1.75em;
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: #EC4849;
  }

  #user-quiz, .top-row, #user-voting {
    /*border-top: 2px solid rgba(255,255,255,0.25);*/
  }

  #modal-content {
    color: black;
    font-size: 1.5em;
  }

  #ticket-submit {
    width: 100px;
  }

</style>
<body>
  <% include ../partials/page-header %>
  <div class="page-info color-alt-grey"><i class="fa fa-user"></i>&nbsp;<span class="thin-info">User Participation Dashboard</span></div>
  <div class="row">
    <div id="attendee-submissions" class="col-md-5 col-xs-12">
      <div id="section-a">
        <h4><i class="fa-title fa fa-comment"></i>Submit Comments and Questions</h4>
        <div class="top-row row">
          <input id="name-field" placeholder="Enter your name (or leave blank to remain anonymous)"></input>
        </div>
        <div class="row">
          <textarea id="question-field" rows="5" placeholder="Enter your questions"></textarea>
        </div>
        <div class="row">
          <div id="question-submit" onclick="submitQuestion()">Submit</div>
        </div>
      </div>
    </div>
    <div id="attendee-voting" class="col-md-4 col-xs-12">
      <div id="section-b">
        <h4><i class="fa-title fa fa-comments"></i>Vote On The Discussion</h4>
        <div id="user-voting">

        </div>
      </div>
    </div>
    <div id="attendee-quiz" class="col-md-3 col-xs-12">
      <div id="section-c">
        <h4><i class="fa-title fa fa-list"></i>Clicker</h4>
        <div id="user-quiz">

        </div>
      </div>
    </div>
  </div>
  <% include ../partials/modal %>
  <script src="js/attendee.js"></script>
  <% include ../partials/footer %>
</body>
</html>