<!-- views/pages/attendee.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<style type="text/css">

</style>
<body>
  <script src="js/attendee.js"></script>
</body>
</html>