<!-- views/pages/instructor.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<style type="text/css">
  .instructor-button {
    width: 100%;
  }

  body {
    background-color: #222f3e;
    padding: 40px;
    color: white;
    padding-bottom: 0px;
    padding-top: 30px;
  }

  .unapproved-question, .approved-question {
    padding: 20px;
    border: 1px solid black;
  }

  .approve-btn, .reject-btn, .remove-btn, .action-btn {
    cursor: pointer;
  }

  #section-a, #section-b, #section-c, #section-d {
    padding: 30px;
    margin-bottom: 20px;
  }

  #section-a {
    background-color: #5f27cd;
    border-bottom: 10px solid #341f97;
    padding: 10px;
    border-radius: 10px;
  }

  #section-b {
    background-color: #54a0ff;
    border-bottom: 50px solid #2e86de;
  }

  #section-c {
    background-color: #1dd1a1;
    border-bottom: 50px solid #10ac84;
  }

  #section-d {
    background-color: #ff6b6b;
    border-bottom: 50px solid #ee5253;
  }

  .action-btn {
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
    border-bottom: 4px solid white;
    padding: 10px;
    margin: 5px;
    font-weight: 100;
    font-size: 1.5em;
    border-radius: 10px;
    transition: 300ms ease-in-out background-color;
    display: inline-block;
    min-width: 5%;
  }

  .approved-question, .unapproved-question {
    padding: 10px;
    font-size: 1.25em;
    margin: 10px;
    border-radius: 5px;
    font-weight: 100;
    border: none;
  }

  .approved-question {
    background-color: #10ac84;
  }

  .unapproved-question {
    background-color: #2e86de;
  }

  .question-actions {
    font-size: 1.4em;
  }

  .approve-btn, .reject-btn, .remove-btn {
    display: inline-block;
    margin: 5px 10px 5px 0px;
    padding: 0px 5px 0px 5px;
    border: 1px solid white;
    border-radius: 5px;
    min-width: 30px;
    text-align: center;
  }

  .approve-btn:hover, .reject-btn:hover, .remove-btn:hover {
    opacity: 0.5;
  }

  .question-text {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .button-down {
    color: #5f27cd;
    background-color: white;
  }

  .quiz-response-info {
    font-size: 1.75em;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #main h4 {
    font-size: 1.75em;
  }

  #unapproved-questions, #approved-questions, #quiz-results {
    border-top: 2px solid rgba(255,255,255,0.25);
  }

</style>
<body>
  <% include ../partials/page-header %>
  <div class="page-info color-alt-grey"><i class="fa fa-cog"></i>&nbsp;<span class="thin-info">Instructor Control Panel</span></div>
  <div id="main" class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="section-a">
        <div id="instructor-actions">
          <div class="action-btn" onclick="emitPreviousPage(this)"><i class="fa fa-arrow-left"></i></div>
          <div class="action-btn" onclick="emitNextPage(this)"><i class="fa fa-arrow-right"></i></div>
          <div class="action-btn" onclick="emitZoomIn(this)"><i class="fa fa-expand"></i></div>
          <div class="action-btn" onclick="emitZoomOut(this)"><i class="fa fa-compress"></i></div>
          <div class="action-btn" onclick="emitOpenVideo(this)"><i class="fa fa-youtube"></i></div>
          <div class="action-btn" onclick="emitPausePlayVideo(this)"><i class="fa fa-play"></i>&nbsp;<i class="fa fa-pause"></i></div>
          <div class="action-btn" onclick="emitCloseVideo(this)"><i class="fa fa-window-close"></i></div>
          <div class="action-btn" onclick="emitStartTicket(this)"><i class="fa fa-play"></i>&nbsp;<i class="fa fa-ticket"></i></div>
          <div class="action-btn" onclick="emitEndTicket(this)"><i class="fa fa-stop"></i>&nbsp;<i class="fa fa-ticket"></i></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div id="section-d">
        <h4><i class="fa-title fa fa-list"></i>Surveys and Quizzes</h4>
        <div id="quiz-results">

        </div>
        <div class="action-btn" onclick="emitToggleInteraction(this)">Show/Hide Results</div>
        <div class="action-btn" onclick="emitStartQuiz(this, 'abcd')">Start ABCD</div>
        <div class="action-btn" onclick="emitStartQuiz(this, 'yn')">Start Yes/No</div>
        <div class="action-btn" onclick="emitStartQuiz(this, 'tf')">Start True/False</div>
        <div class="action-btn" onclick="emitEndQuiz(this)">End Quiz</div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div id="section-b">
        <h4><i class="fa-title fa fa-comments"></i>Approvals</h4>
        <div id="unapproved-questions">

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div id="section-c">
        <h4><i class="fa-title fa fa-bullhorn"></i>Live</h4>
        <div id="approved-questions">

        </div>
      </div>
    </div>
  </div>
  <script src="js/instructor.js"></script>
</body>
</html>