<!-- views/pages/instructor.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<style type="text/css">
  .instructor-button {
    width: 100%;
  }
  body {
    padding: 0px 20px 0px 20px;
  }
</style>
<body>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <h4>Unapproved Questions:</h4>
      <div id="instructor-actions">
        <div class="instructor-button" onclick="emitNextPage()">Next Page</div>
        <div class="instructor-button" onclick="emitPreviousPage()">Previous Page</div>
        <div class="instructor-button" onclick="emitZoomIn()">Zoom In</div>
        <div class="instructor-button" onclick="emitZoomOut()">Zoom Out</div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <h4>Unapproved Questions:</h4>
      <div id="unapproved-questions">

      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <h4>Approved Questions:</h4>
      <div id="approved-questions">

      </div>
    </div>
  </div>
  <script src="js/instructor.js"></script>
</body>
</html>