<!-- views/pages/instructor.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <button onclick="nextPage()">Next</button>
  <button onclick="prevPage()">Prev</button>
  <script src="js/instructor.js"></script>
</body>
</html>