<!-- views/pages/viewer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<style type="text/css">
  #presentation {
    overflow: hidden;
  }

  #questions-area {
    background-color: #222f3e;
  }

  #quiz-area {
    background-color: #ff9f43;
  }

  .question-text {
    color: white;
    background-color: #58A2FC;
    padding: 10px;
    border-bottom: 5px solid #3488DB;
    font-size: 1.25em;
    width: 100%;
  }

  #content {
    z-index: 10;
  }

</style>
<body>
  <div id="content" class="row">
    <div id="presentation" class="col-md-9 col-xs-12">
      <canvas id="the-canvas"></canvas>
    </div>
    <div id="questions-area" class="col-md-3 col-xs-12">
      <div id="questions-content">

      </div>
    </div>
    <div id="quiz-area" class="col-md-3 col-xs-12">
      <div id="quiz-content">

      </div>
    </div>
  </div>
  <div id="modal-container">
    <div id="modal-content">

    </div>
  </div>
  <script src="js/viewer.js"></script>
</body>
</html>