<!-- views/pages/viewer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<style type="text/css">
  #presentation {
    overflow: hidden;
  }

  #questions-area {
    background-color: #222f3e;
  }

  #quiz-area {
    background-color: #EC4849;
  }

  .question-text {
    color: white;
    background-color: #58A2FC;
    padding: 10px;
    border-bottom: 5px solid #3488DB;
    font-size: 1.25em;
    width: 100%;
  }

  #content {
    z-index: 10;
  }

  #quiz-area h3 {
    color: white;
    text-align: center;
  }

  #quiz-stats {
    padding: 20px;
  }

  #quiz-stats p {
    color: white;
    font-size: 2em;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 5px;
  }

</style>
<body>
  <div id="content" class="row">
    <div id="presentation" class="col-md-9 col-xs-12">
      <canvas id="the-canvas"></canvas>
    </div>
    <div id="questions-area" class="col-md-3 col-xs-12">
      <div id="questions-content">

      </div>
    </div>
    <div id="quiz-area" class="col-md-3 col-xs-12">
      <h3>Quiz Results</h3>
      <div id="quiz-content">
        <canvas id="quiz-results-chart" width="400" height="400"></canvas>
        <div id="quiz-stats">

        </div>
      </div>
    </div>
  </div>
  <% include ../partials/modal %>
  <script src="js/viewer.js"></script>
  <% include ../partials/footer %>
</body>
</html>