<!-- views/pages/viewer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<style type="text/css">
  #presentation {
    overflow: hidden;
  }

  #interaction {
    background-color: #222f3e;
  }

  .display-question {
    padding: 10px;
    font-size: 1.5em;
    color: white;
    border: 1px solid white;
    margin: 10px;
  }

</style>
<body>
  <div id="content" class="row">
    <div id="presentation" class="col-md-9 col-xs-12">
      <canvas id="the-canvas"></canvas>
    </div>
    <div id="interaction" class="col-md-3 col-xs-12">

    </div>
  </div>
  <script src="js/viewer.js"></script>
</body>
</html>