<!-- views/pages/viewer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<style type="text/css">

</style>
<body>
  <div id="content" class="row">
    <div id="presentation" class="col-md-9">
      <canvas id="the-canvas"></canvas>
    </div>
    <div id="interaction" class="col-md-3">

    </div>
  </div>
  <script src="js/viewer.js"></script>
</body>
</html>